@import "nav.css";
@import "panel.css";
body {
    background: #c7d7d1;
    font-family: sans-serif;
    margin: 0;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
    grid-template-areas: "nav nav" "main main" "panel panel"
}

@media (min-width: 600px) {
    #grid-container {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 6px;
        grid-template-areas: "nav nav nav nav" "main main main main" "panel panel panel panel"
    }
}

.hero-section {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 80vw;
    margin: 0 auto 80px;
}

.hero-section img {
    grid-row: 1;
    grid-column: span 4 / -2;
}

.hero-text-block {
    background: #c7d7d1;
    grid-row: 1;
    grid-column-start: 3;
    grid-column-end: span 2;
    z-index: 10;
    padding: 20px;
    margin: 50px 20px 50px 0;
}

.hero-section::after {
    content: " ";
    background: gray;
    grid-column: 4 / 6;
    grid-row: 1 / 2;
    z-index: 1;
    margin: 30px 0;
}